{{define "content"}}

<div class= "Management-Container">
<h1>Welcome, {{.User.Username}}!</h1>
<p>Here you can manage your account settings and preferences.</p>
</div>

<div class="Account-Management">
    <h2>Account Management</h2>
    <ul>
        <li><a href="/account/edit">Edit Profile</a></li>
        <li><a href="/account/orders">View Orders</a></li>
        <li><a href="/account/creations">Your Creations</a></li>
        <li><a href="/account/delete">Delete Account</a></li>
    </ul>
</div>

{{end}}