{{define "header"}}
<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">
      <img src="/images/logoColor.png" alt="Ice Cream Icon" />
    </a>
  </span>
  <div id="tools">
    {{if .User}}
      <a title=" Account Management" href="/management">My Account</a>
      <a title="Click to log out" href="/logout">Log Out</a>
    {{else}}
      <a title="Click to log in" href="/login">Log In</a>
    {{end}}
    <a href="/cart">
      <svg width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="cart-icon" fill="none" stroke="currentColor" stroke-width="1">
       <circle cx="16.5" cy="18.5" r="1.5" stroke="currentColor" stroke-width="1" fill="currentColor" />
       <circle cx="9.5" cy="18.5" r="1.5" stroke="currentColor" stroke-width="1" fill="currentColor" />
       <path d="M18 16H8a1 1 0 0 1-.958-.713L4.256 6H3a1 1 0 0 1 0-2h2a1 1 0 0 1 .958.713L6.344 6H21a1 1 0 0 1 .937 1.352l-3 8A1 1 0 0 1 18 16zm-9.256-2h8.563l2.25-6H6.944z" stroke="currentColor" stroke-width="1" fill="currentColor" />
      </svg>
    </a>
  </div>
</header>
{{end}}
