{{define "content"}}
<h1>About Annie's Ice Cream Truck</h1>
<p>
    Annie's Ice Cream Truck is a family-run business dedicated to bringing sweet moments to Idaho Falls and Rexburg. We serve delicious ice cream at public and private events, neighborhood stops, and community gatherings. Our mission is to bring people together, spread happiness, and add a flavorful touch to local life.
</p>
{{end}}
