/* Media Query for Larger Viewer */
@media (min-width: 800px) {

 #tools a, nav ul { 
    font-size: 1.5vw;
    }

.hero img {
    height: 35vw;
    display: block;
}

.hero-message {
    width: 35vw;
    bottom: 40%;
    font-size: 1vw;
}

p, .icecream-description, .icecream-price {
    font-size: 1vw;
}

h1{
    font-size: 2vw;
}
h2{
    font-size: 1.2vw
}
h3{
    font-size: 1.1vw;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    gap: 2rem;
    max-width: 90vw;
    margin: 0 auto;
    list-style: none;
}

.featured-icecreams img{
    width: 100%;
    height: 30vw;
    border-radius: 1vw;
}

footer{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
 align-items: center;
}
}